<form>
  <div class="columns is-mobile">
    <div class="column is-10">
      <div class="field">
        <input class="input" name="search" placeholder="Search..." ng-model="search"/>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select ng-model="category">
              <option value="">All categories</option>
              <option value="art">Art</option>
              <option value="history">History</option>
              <option value="Military">Military</option>
              <option value="Design">Design</option>
              <option value="Children">Children</option>
              <option value="Maritime">Maritime</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<hr />

<div class="columns is-multiline">
  <div class="column is-one-third-desktop is-half-tablet" ng-repeat="museum in museums | filter: { name: search, category: category } | orderBy: sort">

    <a ui-sref="museumsShow({ id: museum._id })">

      <bulma-card image="museum.images" title="museum.name"></bulma-card>

    </a>

  </div>
</div>
