<div class="columns">

  <div class="column">

    <h1 class="title">{{ museum.name }}</h1>
    <ui-carousel slides="museum.images" ng-if="museum.images" fade="true">
      <carousel-item>
        <img class="display-img" ng-src="{{ item }}" />
      </carousel-item>
    </ui-carousel>

    <hr />

    <div ng-if="isAuthenticated()">
      <a ui-sref="museumsEdit({ id: museum._id })"
      class="button">Edit</a>
      <button class="button is-danger"
      ng-click="deleteMuseum()">Delete</button>

      <hr />

    </div>


    <h4 class="title is-4">Comments</h4>
    <article class="media" ng-repeat="comment in musuem.comments">
      <div class="media-content">
        <div class="content">
          <strong>{{ comment.author.username }}</strong>
          <p>
            {{ comment.content }}
          </p>
          <small>{{ '⭐️'.repeat(comment.content) }}</small>
        </div>
    </article>

    <hr />

    <form ng-submit="createComment()" ng-if="isAuthenticated()">
      <div class="feild">
        <label class="label">comment</label>
        <textarea class="textarea" ng-model="data.content"></textarea>
      </div>

      <div class="feild">
        <div class="control">
          <label class="label">Rating</label>
          <div class="select">
            <select ng-model="data.rating">
              <option vaalue="">Please select</option>
              <option value="1">⭐️</option>
              <option value="2">⭐️⭐️</option>
              <option value="3">⭐️⭐️⭐️</option>
              <option value="4">⭐️⭐️⭐️⭐️</option>
              <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
          </div>
        </div>
      </div>

      <button class="button is-primary">Submit</button>
    </form>
  </div>

  <div class="column">
    <div google-map location="museum.location"></div>
  </div>

</div>


<!-- <bulma-card image="museum.images[1]" title="museum.name" subtitle="museum.address" content="museum.postcode">

</bulma-card> -->
