<div class="columns">

  <div class="column">

    <bulma-card image="museum.image" title="museum.name" subtitle="museum.address" postcode="museum.postcode">

  </bulma-card>

    <hr />


    <h4 class="title is-4">Reviews</h4>
    <article class="media" ng-repeat="comment in musuem.comments">
      <div class="media-content">
        <div class="content">
          <strong>{{ comment.author.username }}</strong>
          <p>
            {{ comment.content }}
          </p>
          <small>{{ '⭐️'.repeat(comment.content) }}</small>
        </div>
    </article>

    <hr />

    <form ng-submit="createComment()" ng-if="isAuthenticated()">
      <div class="feild">
        <label class="label">Leave a Review..</label>
        <textarea class="textarea" ng-model="data.content"></textarea>
      </div>

      <div class="feild">
        <div class="control">
          <label class="label">Rating</label>
          <div class="select">
            <select ng-model="data.rating">
              <option vaalue="">Please select</option>
              <option value="1">⭐️</option>
              <option value="2">⭐️⭐️</option>
              <option value="3">⭐️⭐️⭐️</option>
              <option value="4">⭐️⭐️⭐️⭐️</option>
              <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
          </div>
        </div>
      </div>

      <button class="button is-primary">Submit</button>
    </form>
  </div>

  <div class="column">
    <div google-map location="museum.location"></div>
  </div>

</div>
