a{
  text-decoration: underline;
}

#userimage{
  max-width: 20%;
  border-style: solid;
  border-radius: 3%;
}


.display-img{
  height: 100%;
  width: 100%;
}


a.navbar-item{
  background-color: white;
  &:hover{
    background-color: #AD974F;
  }
}

.card-image{
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  height: 100%;
  width: 100%;
  border-style: outset;
  border-color: brown;
}

.museum-name{
  text-align: left;
}
.background{
  background-color: white;

}

#homepage {
  img {
    opacity: 0.2;
    height: 600px;
    width: 1800px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;

    .title {
      color: white;
      font-size: 4rem;
      font-weight: bold;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }
}
